body{
    margin: 0;
}
div.呐呐呐 span {
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
}
div.呐呐呐 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}